{% extends 'base1.html' %}
{% block title %}- Category{% endblock %}

{% load course_tags %}

{% block content %}
    <!-- PAGE TITLE -->
    <header class="bg-gradient-to-r from-blue-500 to-purple-500 py-20 text-white text-center">
        <div class="container mx-auto">
            <h1 class="text-4xl md:text-6xl lg:text-8xl font-bold mb-4">Explore {{ category }} Courses</h1>
            <nav class="text-sm">
                <a href="http://127.0.0.1:8000/" class="text-gray-300">Home</a>
                <span class="mx-2 text-gray-300">/</span>
                <span class="text-gray-100">{{ category }} Courses</span>
            </nav>
        </div>
    </header>

    <div class="container mx-auto mt-8 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        {% for i in course %}
            <div class="mb-8">
                <!-- Card -->
                <div class="w-96 h-96 bg-white border border-gray-300 shadow-lg p-4 transform transition duration-300 hover:scale-105">
                    <!-- Image -->
                    <div class="relative">
                        <a href="{{ i.get_absolute_url }}">
                            <img class="rounded-lg object-cover w-96 h-40" src="{{i.featured_image.url}}" alt="Course Image">
                        </a>
                        
                    </div>

                    <!-- Content -->
                    <div class="mt-4">
                        <h4 class="text-lg font-semibold text-gray-800">
                            <a href="{{ i.get_absolute_url }}">{{ i.title }}</a>
                        </h4>
                        <p class="text-gray-600">{{ i.author }}</p>
                    </div>

                    
                    
                    <!-- Price -->
                    <div class="mt-4 mb-5">
                        {% if i.price == 0 %}
                                      <div class="">
                                          <ins class="no-underline"><span>FREE</span></ins>
                                      </div>
                                      {% else %}
                                      <div class="">
                                          <del class="font-size-sm opacity-70">{{ i.price }}DH</del>
                                          {% discount_calculation i.price i.discount as discounted_price %}
                                          <ins class="no-underline ">{{ discounted_price }}DH</ins>
                                      </div>
                                      {% endif %}
                    </div>
                    <div class="d-md-flex">
                        {% if user.is_authenticated %}
                        {% if check_enroll is None %}
                        <a class=" text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800""
                            href="/checkout/{{i.slug}}">ENROLL</a>
                        {% else %}
                        <button class="btn btn-orange btn-wide mb-4 mb-md-0 ms-md-3 flex-grow-1" type="button" name="button"
                            disabled> ALREADY ENROLL</button>
                        <button class="btn btn-success btn-wide mb-4 mb-md-0 ms-md-3 flex-grow-1" type="button"
                            name="button"><a href="/i/watch-i/{{i.slug}}"> watch course</a></button>
                        {% endif %}
                        {% else %}
                        {% if check_enroll is None %}
                        <a class="btn btn-blue btn-wide mb-4 mb-md-0 me-md-3 flex-grow-1"
                            href="{% url 'login' %}">ENROLL</a>
                        {% else %}
                        <button class="btn btn-orange btn-wide mb-4 mb-md-0 ms-md-3 flex-grow-1" type="button" name="button"
                            disabled> ALREADY ENROLL</button>
                        {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
