{% extends 'base1.html' %}
{% load static %}
{% block title %}- {{course.title}}{% endblock %}
{% block content %}
{% load course_tags %}
{% load static tailwind_tags %}
<head>
    
    {% tailwind_css %}
</head>
<section class="py-12 sm:py-16"> 
    <div class="container mx-auto px-4">
      
      <div class="lg:col-gap-12 xl:col-gap-16 mt-8 grid grid-cols-1 gap-12 lg:mt-12 lg:grid-cols-5 lg:gap-16">
        <div class="lg:col-span-3 lg:row-end-1">
          <div class="lg:flex lg:items-start">
            <div class="lg:order-2 lg:ml-5">
              <div class="max-w-xl overflow-hidden rounded-lg">
                <img class="w-screen h-96 object-cover" src="/{{course.featured_image}}" alt="" />
              </div>
            </div>
  
            <div class="mt-2 w-full lg:order-1 lg:w-32 lg:flex-shrink-0">
              
            </div>
          </div>
        </div>
  
        <div class="lg:col-span-2 lg:row-span-2 lg:row-end-2">
          <h1 class="sm: text-2xl font-bold text-gray-900 sm:text-3xl">{{course.title}}</h1>
  
          <div class="mt-5 flex items-center">
            
            <p class=" text-sm font-medium text-gray-500">Created by: {{course.author.name}}</p>
            
            
          </div>
          <div class="mt-5 flex items-center">
            
            <p class=" text-sm font-medium text-gray-500">Categorie: {{course.category}}</p>
            
            
          </div>
          
  
          
  
          
  
          <div class="mt-10 flex flex-col items-center justify-between space-y-4 border-t border-b py-4 sm:flex-row sm:space-y-0">
            <div class="flex items-end">
                {% if course.price == 0 %}
              <h1 class="text-3xl font-bold">FREE</h1>
              {% else %}
              <h1 class="text-3xl font-bold">{{ d_price }}DH</h1>
              
              <ins class="no-underline ">{{d_priceDH}}</ins>
              {% endif %}
              
            </div>
            {% if user.is_authenticated %}
            {% if check_enroll is None %}
            <button type="button" class="inline-flex items-center justify-center rounded-md border-2 border-transparent bg-gray-900 bg-none px-12 py-3 text-center text-base font-bold text-white transition-all duration-200 ease-in-out focus:shadow hover:bg-gray-800">
              
              <a href="/checkout/{{course.slug}}">Enroll</a>
            </button>
            {% else %}
            <button class="btn btn-orange btn-wide mb-4 mb-md-0 ms-md-3 flex-grow-1" type="button" name="button"
                        disabled> ALREADY ENROLL</button>
                    <button class="btn btn-success btn-wide mb-4 mb-md-0 ms-md-3 flex-grow-1" type="button"></button>
                    {% endif %}
                    {% endif %} 
          </div>
          
  
          <ul class="mt-8 space-y-2">
            <li class="flex items-center text-left text-sm font-medium text-gray-600">
              <svg class="mr-2 block h-5 w-5 align-middle text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3.055 11H5a2 2 0 012 2v1a2 2 0 002 2 2 2 0 012 2v2.945M8 3.935V5.5A2.5 2.5 0 0010.5 8h.5a2 2 0 012 2 2 2 0 104 0 2 2 0 012-2h1.064M15 20.488V18a2 2 0 012-2h3.064M21 12a9 9 0 11-18 0 9 9 0 0118 0z" class=""></path>
              </svg>
              Chat boot feature
            </li>
  
            <li class="flex items-center text-left text-sm font-medium text-gray-600">
              <svg class="mr-2 block h-5 w-5 align-middle text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 10h18M7 15h1m4 0h1m-7 4h12a3 3 0 003-3V8a3 3 0 00-3-3H6a3 3 0 00-3 3v8a3 3 0 003 3z" class=""></path>
              </svg>
              Full lifetime access
            </li>
          </ul>
        </div>
  
        <div class="lg:col-span-3">
          <div class="border-b border-gray-300">
            <nav class="flex gap-4">
              <a href="#" title="" class="border-b-2 border-gray-900 py-4 text-sm font-medium text-gray-900 hover:border-gray-400 hover:text-gray-800"> Description </a>
  
              
            </nav>
          </div>
  
          <div class="mt-8 flow-root sm:mt-12">
            <h1 class="text-3xl font-bold">Course Description</h1>
            <p class="mt-4">{{course.description}}</p>
            <h1 class="mt-8 text-3xl font-bold">From the Fine Farms of Brazil</h1>
            <p class="mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio numquam enim facere.</p>
            <p class="mt-4">Amet consectetur adipisicing elit. Optio numquam enim facere. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore rerum nostrum eius facere, ad neque.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  


{% endblock %}