{% extends 'base.html' %}
{% block title %}- Category{% endblock %}

{% load course_tags %}

{% block content %}
    <!-- PAGE TITLE -->
    <header class="bg-gradient-to-r from-blue-500 to-purple-500 py-20 text-white text-center">
        <div class="container mx-auto">
            <h1 class="text-4xl md:text-6xl lg:text-8xl font-bold mt-8 mb-8">Explore Your Courses</h1>
            <nav class="text-sm">
                <a href="http://127.0.0.1:8000/" class="text-gray-300">Home</a>
                <span class="mx-2 text-gray-300">/</span>
                <span class="text-gray-100">My Courses</span>
            </nav>
        </div>
    </header>

    {% if course is Null %}
    
    <div class="flex flex-col justify-center items-center my-40">
        <h1 class="text-2xl font-bold tracking-tight text-gray-900 ">Oops You don't have Any Courses Now !</h1>
      </div>
        
    {% else %} 

    <div class="container mx-auto mt-8 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        
        {% for i in course %}
            <div class="mb-8">
                <!-- Card -->
                <div class="w-96 h-96 bg-white border border-gray-300 shadow-lg p-4 transform transition duration-300 hover:scale-105">
                    <!-- Image -->
                    <div class="relative">
                        <a href="{{ i.get_absolute_url }}">
                            <img class="rounded-lg object-cover w-96 h-40" src="{{i.course.featured_image.url}}" alt="Course Image">
                        </a>
                        
                    </div>

                    <!-- Content -->
                    <div class="mt-4">
                        <h4 class="text-lg font-semibold text-gray-800">
                            <a href="{{ i.get_absolute_url }}">{{ i.course.title }}</a>
                        </h4>
                        <p class="text-gray-600">{{ i.course.author }}</p>
                    </div>

                    
                    
                    <!-- Price -->
                    
                    <div class="d-md-flex">
                        {% if user.is_authenticated %}
                        {% if check_enroll is None %}
                        
                        <button class="btn btn-success btn-wide mb-4 mb-md-0 ms-md-3 flex-grow-1" type="button"
                            name="button"><a href="/course/watch-course/{{i.course.slug}}"> watch course</a></button>
                     
                        {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endif %}
{% endblock %}
