{% extends 'base.html' %}

{% block title %}- Forgot Password{% endblock %}

{% block content %}

<!-- PAGE TITLE
    ================================================== -->
<header class="bg-gradient-to-r from-blue-500 to-purple-500 py-20 text-white text-center">
    <div class="container mx-auto">
        <h1 class="text-4xl md:text-6xl lg:text-8xl font-bold mb-4">Forgot Password</h1>
        <nav class="text-sm">
            <a href="#" class="text-gray-300">Home</a>
            <span class="mx-2 text-gray-300">/</span>
            <span class="text-gray-100">Forgot Password</span>
        </nav>
    </div>
    
</header>

<!-- FORGOT PASSWORD
    ================================================== -->
<div class="container mx-auto mt-14 mb-10 flex justify-center">
    <form class="max-w-sm mx-auto" method="post" action="{% url 'password_reset' %}">
        {% include 'components/msg.html' %}

        {% csrf_token %}
        <!-- Email -->
        <div class="mb-5">
            <h2 class="text-2xl font-bold mb-6">Reset your password</h2>
            <label for="forgotPasswordEmail" class="block mb-2 text-sm font-medium text-gray-900">Email</label>
            <input type="email" class="w-96 bg-gray-50 border border-gray-300  text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5  dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500" id="forgotPasswordEmail" placeholder="your.email@example.com" name="email" required />
        </div>

        <!-- Submit -->
        <button class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" name="btnforgotpassword" type="submit">SEND CONFIRMATION LINK</button>
    </form>
</div>

<!-- Back to Login -->
<div class="  container mx-auto text-center">
    <a class="text-gray-800" href="{% url 'doLogin' %}">Back to Login</a>
</div>

<!-- Text -->
<div class="mb-24">
    <p class=" font-size-sm text-center">
    Don't have an account? <a class="text-underline" href="{% url 'register' %}">Sign up</a>
</p></div>


{% endblock %}
