{% extends 'base1.html' %}

{% block title %}- Forgot Password{% endblock %}

{% block content %}

<!-- PAGE TITLE
    ================================================== -->
<header class="bg-gradient-to-r from-blue-500 to-purple-500 py-20 text-white text-center">
    <div class="container mx-auto">
        <h1 class="text-4xl md:text-6xl lg:text-8xl font-bold mb-0">Forgot Password</h1>
        <nav class="text-sm">
            <a href="#" class="text-gray-300">Home</a>
            <span class="mx-2 text-gray-300">/</span>
            <span class="text-gray-100">Forgot Password</span>
        </nav>
    </div>
    <!-- Img -->
    <img class="hidden img-fluid" src="..." alt="Image Alt Text">
</header>

<!-- FORGOT PASSWORD
    ================================================== -->
<div class="container mb-11">
    <div class="row gx-0">
        <div class="col-md-7 col-xl-4 mx-auto">
            <!-- Forgot Password -->
            <h3 class="text-2xl mb-6">Forgot Your Password?</h3>
            {% include 'components/msg.html' %}
            <!-- Form Forgot Password -->
            <form method="post" action="{% url 'password_reset' %}">
                {% csrf_token %}
                <div class="form-group mb-5">
                    <label for="forgotPasswordEmail">Email</label>
                    <input type="email" id="forgotPasswordEmail" name="email" placeholder="your.email@example.com"
                           class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg
                                  focus:ring-blue-500 focus:border-blue-500 p-2.5"
                           required>
                </div>

                <!-- Submit Button -->
                <button type="submit" class="btn btn-block btn-primary">
                    SEND CONFIRMATION LINK
                </button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
