{% extends 'base1.html' %}

{% block title %}- Registre{% endblock %}

{% block content %}
    <!-- PAGE TITLE -->
    <header class="bg-gradient-to-r from-blue-500 to-purple-500 py-20 text-white text-center">
        <div class="container mx-auto">
            <h1 class="text-4xl md:text-6xl lg:text-8xl font-bold mb-4">Register</h1>
            <nav class="text-sm">
                <a href="http://127.0.0.1:8000/" class="text-gray-300">Home</a>
                <span class="mx-2 text-gray-300">/</span>
                <span class="text-gray-100">Register</span>
            </nav>
        </div>
    </header>

    <!-- REGISTER -->
    
    <div class="container mx-auto mt-8 flex justify-center">
        
        <form class="max-w-sm mx-auto" method="post" action="{% url 'register' %}">
            {% include "components/msg.html" %}
            
            {% csrf_token %}
            <div class="mb-5">
                <label for="username" class="block mb-2 text-sm font-medium text-gray-900 ">Username</label>
                <input type="text" id="username" class="w-96 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block  p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="John" name="username" required />
            </div>
            <div class="mb-5">
                <label for="email" class="block mb-2 text-sm font-medium text-gray-900 ">Email</label>
                <input type="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="name@flowbite.com" name="email" required />
            </div>
            <div class="mb-5">
                <label for="password" class="block mb-2 text-sm font-medium text-gray-900 ">Password</label>
                <input type="password" id="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required />
            </div>
            
            <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>

        </form>
        
        
    </div>
    <div class="flex justify-center items-center mb-10"><div class="inline-block text-right"><p>Already have an account?<a href="http://127.0.0.1:8000/accounts/login/">Log in</a></p></div></div>
    
    
    
{% endblock %}
