{% extends 'base.html' %}

{% block title %}- About Us{% endblock %}

{% block content %}

<!-- PAGE TITLE
    ================================================== -->
<header class="bg-gradient-to-r from-blue-500 to-purple-500 py-20 text-white text-center">
    <div class="container mx-auto">
        <h1 class="text-4xl md:text-6xl lg:text-8xl font-bold mb-8 mt-8">About Us</h1>
        <nav class="text-sm">
            <a href="#" class="text-gray-300">Home</a>
            <span class="mx-2 text-gray-300">/</span>
            <span class="text-gray-100">About Us</span>
        </nav>
    </div>
</header>


<div class="2xl:container 2xl:mx-auto lg:py-16 lg:px-20 md:py-12 md:px-6 py-9 my-20 px-4">
    <div class="flex flex-col lg:flex-row justify-between gap-8">
        <div class="w-full lg:w-5/12 flex flex-col justify-center">
            <h1 class="text-3xl lg:text-4xl font-bold leading-9 text-gray-800 dark:text-black pb-4">About Us</h1>
            <p class="font-normal text-base leading-6 text-gray-600 dark:text-black">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum.In the first place we have granted to God, and by this our present charter confirmed for us and our heirs forever that the English Church shall be free, and shall have her rights entire, and her liberties inviolate; and we will that it be thus observed; which is apparent from</p>
        </div>
        <div class="w-full lg:w-8/12">
            <img class="w-full h-full" src="https://i.ibb.co/FhgPJt8/Rectangle-116.png" alt="A group of People" />
        </div>
    </div>

    <div class="flex lg:flex-row flex-col justify-between gap-8 pt-12">
        <div class="w-full lg:w-5/12 flex flex-col justify-center">
            <h1 class="text-3xl lg:text-4xl font-bold leading-9 text-gray-800 dark:text-black pb-4">Our Story</h1>
            <p class="font-normal text-base leading-6 text-gray-600 dark:text-black">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum.In the first place we have granted to God, and by this our present charter confirmed for us and our heirs forever that the English Church shall be free, and shall have her rights entire, and her liberties inviolate; and we will that it be thus observed; which is apparent from</p>
        </div>
        <div class="w-full lg:w-8/12 lg:pt-8">
            <div class="grid md:grid-cols-2 sm:grid-cols-2 grid-cols-1 lg:gap-4 shadow-lg rounded-md ">
                <div class="p-4 pb-6 flex justify-center flex-col items-center">
                    <img class="md:block hidden " src="static\assets\img\IMG_E1203.JPG" alt="Merouane featued Image" />
                 
                    <p class="font-medium text-xl leading-5 text-gray-800 dark:text-black mt-4">Merouane</p>
                </div>
                <div class="p-4 pb-6 flex justify-center flex-col items-center">
                    <img class="md:block hidden" src="static\assets\img\WhatsApp Image 2024-03-17 at 17.57.37.jpeg" alt="Abdelhak featured Image" />
                    
                    <p class="font-medium text-xl leading-5 text-gray-800 dark:text-black mt-4">Abdelhak</p>
                </div>
                
                
                
            </div>
        </div>
    </div>
</div>

{% endblock %}
