{% extends 'base1.html' %}
{% load static %}
{% load course_tags %}
{% block content %}

<div class="container py-8 py-lg-11">
    <div class="row">
        <div class="col-xl-8 mx-xl-auto">
            <header class="entry-header">
                <h1 class="entry-title">Order received</h1>
            </header>

            <div class="entry-content">
                <div class="woocommerce">
                    <div class="woocommerce-order">
                        <p class="woocommerce-notice woocommerce-notice--success woocommerce-thankyou-order-received">
                            Thank you. Your order has been received.</p>

                        <ul class="woocommerce-order-overview woocommerce-thankyou-order-details order_details">
                            <li class="woocommerce-order-overview__order order">
                                Order number:
                                <strong>{{course.id}}</strong>
                            </li>

                            <li class="woocommerce-order-overview__date date">
                                Date:
                                <strong>{{course.date}}</strong>
                            </li>

                            <li class="woocommerce-order-overview__total total">
                                Total:
                                <strong><span class="woocommerce-Price-amount amount"><span
                                            class="woocommerce-Price-currencySymbol">DH</span>
                                        {% discount_calculation course.price course.discount as discounted_price %}

                                        {{discounted_price }}</span></strong>
                            </li>

                            <li class="woocommerce-order-overview__payment-method method">
                                Payment method:
                                <strong>Check payments</strong>
                            </li>
                        </ul>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}